<div class="bg-gray-800 h-screen flex flex-col items-center justify-center">
  <span class="text-white text-4xl mb-10">
    Vagas postadas recentemente
  </span>
  <a href="#" class="block w-full md:w-5/6 lg:w-2/3 xl:w-1/2 p-10 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mx-auto relative">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      SQL Engineer
    </h5>
    <span class="bg-green-200 text-green-700 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">VAGA POSTADA COM SUCESSO</span>
    <span class="text-gray-600 text-sm">Salario: á combinar</span>

    <div class="flex items-center mb-4">
      <img src="/assets/Employers Logo.svg" alt="" class="mt-4 w-16 h-16" />

      <div class="flex flex-col items-start ml-2">
        <span class="text-black font-semibold mt-4">Facebook</span>
        <div class="flex items-center mt-1">
          <img src="/assets/MapPin.svg" alt="" class="mr-2" />
          <span class="text-gray-600 text-base">São Paulo, 100% home office</span>
        </div>
      </div>
    </div>

    <div class="absolute mb-4 right-2">
      <img src="/assets/trash.svg" alt="" class="mr-2" />
    </div>

  </a>
</div>
